body {
  background: linear-gradient(253deg, #0cc898, #1797d2, #864fe1);
  background-size: 300% 300%;
  -webkit-animation: Background 5s ease infinite;
  -moz-animation: Background 5s ease infinite;
  animation: Background 5s ease infinite;
}

@-webkit-keyframes Background {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Background {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Background {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
 
 
  
input[type ="file"]{
  display: none;
}
/* input[type ="radio"]{
  display: none;
} */
  

.full-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(https://i.imgur.com/wCG2csZ.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

h1 {
  color: rgb(23, 23, 161);
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 4em;
  letter-spacing: -2px;
  text-align: center;
  text-shadow: 1px 3px 3px rgba(0, 0, 0, .6);
}

/* h1:after {
  display: block;
  color: #fff;
  letter-spacing: 1px;
  font-family: 'Poiret One', sans-serif;
  content: 'Subtitle goes here';
  font-size: .4em;
  text-align: center;
} */

.file{
  display: inline;
}
.glow-on-hover {
  width: 220px;
  height: 150px;
  padding: 10px;
  border: none;
  outline: none;
  color: #fff;
  background: rgb(37,150,190);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;

}
  .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: #111; */
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.button-line:hover {
  opacity: 1;
}

.radio-toolbar {
  margin: 30px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
    display: inline-block;
    width: 30px;
    background-color: none;
    padding: 8px 15px;
    font-family: sans-serif, Arial;
    font-size: 12px;
    border:1px solid rgba(48, 151, 155, 0.37);
    border-radius: 4px;
    box-shadow: 0px 1px 5px #181414;
    text-align: justify;
}

.radio-toolbar label:hover {
  background-color: rgb(33, 152, 196);
}

.radio-toolbar input[type="radio"]:focus + label {
    border: 2px  #444;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: rgb(33, 152, 196);
    border:1px solid rgb(25, 44, 44);
}

.gear-img{
  position: static;
  height: 23px;
  width: 23px;
  margin-left: 8px;
  margin-bottom: 5px;
  padding-bottom:4px ;
  border: #000000;  
  opacity: 0.7;
  mix-blend-mode: lighten;
}

#submit{
  display: none;
}

.gear{
  position: absolute;
  height: 23px;
  width: 23px;
  margin-left: 8px;
  margin-bottom: 6px;
  padding-right: 6px;
  padding-bottom: 5px;
  border: #000000;
}